#無視するディレクトリとファイル
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
config/
.gitignore
.editorconfig
.env.example
.gitattributes
.styleci.yml
composer.json
composer.lock
artisan
docker-compose.yml
package-lock.json
package.json
phpunit.xml
tailwind.config.js
webpack.mix.js
/storage
/database/backup
/database/migrations
/public/.htaccess
/public/.htpasswd